*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    text-decoration: none;
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background: linear-gradient(to right, #000046, #1cb5e0);
    opacity: 100%;
}
.main .parent{
    width: 1000px;
    height: 600px;
    background:linear-gradient(to right, black, #8ecdff);
    opacity: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 0 10px;
    align-items: center;
}
.main .parent .content{
display: flex;
margin: 50px;
justify-content: space-between;
}
.id , .page ,.page1,.page2,.page3{ 
   background-color: #fff;
    width: 400px;
    height: 500px;
    border-radius: 30px;     
    box-shadow: 0 0 10px;  
    transition: all 1s;
}
.id::after{
    content: "";
    background-color: #000;
    width: 3px;
    height: 540px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
}
.form , .form1 ,.form2 , .form3{
    display: flex;
flex-direction: column;
    margin:40px;
}
.form .name input  , .form1 .name input , .form2 .name input , .form3 .name input {
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #8ecdff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.form .iddd  input  , .form1 .iddd  input , .form2 .iddd  input , .form3 .iddd input
{
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #8ecdff;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.form .name  , .form1 .name  , .form2 .name , .form3 .name {
    display: flex;
    flex-direction: column;
}
.form .iddd  , .form1 .iddd  , .form2 .iddd , .form3 .iddd
{
    display: flex;
    flex-direction: column;
}
.submit , .submit1 , .submit2 , .submit3  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.submit button ,.submit1  button , .submit2   button, .submit3  button{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
 cursor: pointer; 
    box-shadow: 0 0 10px;
    transition: all 1s;
} 
.icon {
    display: flex;
    justify-content: center;
    margin: 3px;
}
.icon a
{
    margin:3px 10px;
    color: white;
    padding: 6px;
    border-radius: 7px;

}
.icon a:first-child
{
    background-color: black;
}
.page1,.page2,.page3
{
    display: none;
}
.bx{
    margin: 20px 20px;
}
.id{
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
}
.id img{
    width: 150px;
    margin: 20px;
}
p span{
    color: red;
}